.idea
.idea/
.idea/*

cesium-leap
cesium-leap/*
cesium-leap/*/*

proxy/cache.json

proxy/cors-anywhere
proxy/cors-anywhere/*
proxy/cors-anywhere/*/*

proxy/node-http-proxy
proxy/node-http-proxy/*
proxy/node-http-proxy/*/*

services/geodict

proxy/netjs
proxy/netjs/*
proxy/netjs/*/*

proxy/traytention
proxy/traytention/*
proxy/traytention/*/*

proxy/CORS-Proxy

proxy/server_old
proxy/old

services/twitter/corpori/places
services/twitter/corpori/places/*

services/twitter/pyner

layers
layers/*
layers/*/*
layers/*/*/*

mobile-test
