body {
  height: 100%;
  background: #444;
}

div#preload {
  position: absolute;
}

div#preload-wrapper {
  height: 100%;
  width: 100%;
  background: #000;
}
div#preload {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: absolute;
   display: block;
   opacity: 0.75;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}